<div class="user-details">
  <h1> 一些事情 </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 一堆的奖状 </h3>
    <ul>
      <li> 点进去看看吧</li>
    </ul>
    <p>好吧，我忘记具体有那些了……</p>
    <a class="project-link" href="issue/certificate_of_merit.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 近期的事情 </h3>
    <ul>
      <li> 例如羽毛球赛</li>
    </ul>
    <p>具体问杰哥！！！</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
